.home{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.city-card {
    margin: 20px;
    padding: 10px;
    max-width: 20vw;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.card-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
}